# Enable URL rewriting
RewriteEngine On

# Redirect requests for "index" to "index.php"
RewriteRule ^index$ index.php [L]

# Remove .php extension from the URL
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]
